table {
    background-color: #ED8D00;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    width: 60%;
    height: 500px;
    text-align: center;
}
td:hover{
    border-width: 2px;
    border-style: solid;
    color: #898989;
    border-color: #AAAAAA;
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
    border-bottom:black ;

}
th{
    text-transform: uppercase;
    font-weight: 600;
}
body{
    background-color: rgba(0, 0, 0, 0.35);
}

.icono{
    background-image:url('../imgs/private/admin-png-images-3.png');
    background-repeat:no-repeat;
    padding-left:20px;
}
#cerrar{
    float: right;
    background-color:lightskyblue;
}
h1{
    float: left;

}