body{
    background-color: #d53032;
}
form{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 20%;
    height: 360px;
    border-radius: 3%;
    margin-left: 38%;
    margin-top: 12%;
    background-color: white;
}
#fondo{
    width: 99.9%;
}
h3{
    text-align: center;
}
input{
    display: block;
    width: 60%;
    margin-left: 19%;
    height: 20px;
}
label{
    margin-left: 15%;
    margin-bottom: 5px;
}
#modificar{
    background-color: red;
    border-radius: 3%;
}