.centrar_imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 400px;
}


.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }